services/user_service/dataLog.log
services/transaction_service/dataLog.log
services/montir_service/dataLog.log
services/login_service/dataLog.log
api_gateway/dataLog.log

api_gateway/bin
services/login_service/bin
services/montir_service/bin
services/transaction_service/bin
services/user_service/bin
services/chat_service/bin
